{% extends "base.html" %}
{% block content %}
<main class='container' role='main'>
    <div class='row'>
        <div class='col-md-3 mb-3 mt-1'>
            <div class='card'>
                <div class='card-body'>
                    <ul class='list-group list-group-flush'>
                        <li class='list-group-item'>
                            <div class='h3'>Технологии</div>
                        </li>
                        <li class='list-group-item'>
                            <div class='h6 text-muted'>Back-end разработки</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-md-9'>
            <div class='card-body'>
                <div class='card-text'>
                    <ul>
                        <li>Django ORM</li>
                        <li>Шаблоны Django</li>
                        <li>Generic View</li>
                        <li>Декораторы</li>
                        <li>БД SQLite</li>
                        <li>Paginator</li>
                        <li>TemplateView</li>
                        <li>Unittest</li>
                        <li>bootstrap</li>
                        <li>JavaScript</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}