{% extends "base.html" %}
{% block header %}Список сортов мороженного{% endblock %}
{% block content %}
      <div class='d-flex flex-wrap justify-content-between align-items-center'>
        {% load thumbnail %}
        {% for i in icecreams %}
        <div class='card' style='width: 18rem'>
          {% thumbnail i.avatar "300x300" as im %}
          <img class='card-img-top img-thumbnail' src='{{ im.url }}'>
          {% endthumbnail %}
          <div class='card-body'>
            <h5 class='card-title'>{{ i.name }}</h5>
            <p class='card-text'>{{ i.desc }}</p>
            <a class='btn btn-primary' href="{% url 'detail' i.pk %}">Подробнее >></a>
          </div> 
        </div> 
        {% endfor %}
      </div>
      <div class='alert alert-primary' role='alert'>
        <a href="/">На главную</a>
      </div>
{% endblock %} 